{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="h1">Liste des élèves</h1>
<table class="table table-striped">
    <tr>
        <th>Prénom élève</th>
        <th>Nom élève</th>
        <th>Cursus</th>
        <th>Campus</th>
        <th>Action</th>
        <th>Prénom Formateur</th>
        <th>Action</th>
    </tr>
        <tr>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>
            <td>{{ student.curriculum.name }}</td>
            <td>{{ student.campus.city }}</td>
            <td>{{ student.instructor.firstname }}</td>
            <td>{{ student.instructor.lastname }}</td>
            <td class="d-flex flex-column">
                <a class="btn d-block btn-secondary m-1 w-50" href={{ path('student_update',{id:student.id}) }}>Update {{ student.getFullName() }}</a>
                <form method="post" action="{{ path('student_delete', {id: student.id}) }}" >
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ student.id) }}">
                    <button class="btn btn-danger m-1 w-50">Delete</button>
                </form>
            </td>
        </tr>
</table>
{% endblock %}
